{% extends "base.html" %}

{% block title %}
    Design System
{% endblock %}

{% block content %}
<section class="space-y-10 py-10">
    <div class="space-y-10 text-center justify-center flex flex-col w-full max-w-xl mx-auto">
        <h1 class="text-3xl font-bold">
            Design System
        </h1>

        {% include 'components/search-input.html'%}
    </div>

    <div class="grid gap-6 md:grid-cols-2 xl:grid-cols-2">
        {% include "components/design-system/button-demo.html" %}
        {% include "components/design-system/input-demo.html" %}
        {% include "components/design-system/toast-demo.html" %}
    </div>

    <section class="space-y-4">
        <h2 class="text-xl font-bold">
            Search Input
        </h2>
        <div class="rounded-box border border-base-300 bg-base-100 p-6">
            {% include "components/search-input.html" %}
        </div>
    </section>
</section>
{% endblock %}
