{% extends "components/card-ds.html" %}

{% block title %}
    Button
{% endblock %}

{% block preview %}
    <div class="grid grid-cols-2 gap-2">
        <div class="flex flex-col items-center justify-center">
            <code class="text-[12px]">btn-primary</code>
            <button class="btn btn-primary" type="button">Primary</button>
        </div>
        <div class="flex flex-col items-center justify-center">
            <code class="text-[12px]">btn-secondary</code>
            <button class="btn btn-secondary" type="button">Secondary</button>
        </div>
    </div>
{% endblock %}

{% block code %}
&lt;button class="btn btn-primary" type="button"&gt;
  Mulai swap
&lt;/button&gt;
{% endblock %}
