@import "tailwindcss";

@source not "./daisyui{,*}.mjs";
@source "../../../apps";
@source "../../../templates";

@plugin "./daisyui.mjs";

@plugin "./daisyui-theme.mjs" {
  name: "swapify";
  default: true;
  prefersdark: false;
  color-scheme: light;

  --radius-selector: 0.5rem;
  --radius-field: 0.5rem;
  --radius-box: 1rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;
}

.input:focus{
  outline: 1px solid #0000;
  border: 1px solid #0000;
}

.ds-preview {
  @apply flex items-center justify-center rounded-box bg-base-200 p-6;
}

.ds-code {
  @apply overflow-x-auto rounded-box bg-neutral p-4 text-xs leading-6 text-neutral-content;
}
