@import "tailwindcss";

@font-face {
  font-family: "Fraunces";
  src: url("../../fonts/Fraunces-VariableFont_SOFT,WONK,opsz,wght.ttf");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Plus Jakarta Sans";
  src: url("../../fonts/PlusJakartaSans-VariableFont_wght.ttf");
  font-weight: 200 800;
  font-style: normal;
  font-display: swap;
}

@theme {
  --font-display: "Fraunces", Georgia, serif;
  --font-sans: "Plus Jakarta Sans", ui-sans-serif, system-ui, sans-serif;

  /* Fraunces - Heading*/
  --text-h1: 3.75rem;
  --text-h1--line-height: 3.75rem;
  --text-h2: 3rem;
  --text-h2--line-height: 3rem;
  --text-h3: 2.25rem;
  --text-h3--line-height: 2.5rem;
  --text-h4: 1.875rem;
  --text-h4--line-height: 2.25rem;
  --text-h5: 1.5rem;
  --text-h5--line-height: 2rem;
  --text-h6: 1.25rem;
  --text-h6--line-height: 1.75rem;
  --text-h7: 1rem;
  --text-h7--line-height: 1.5rem;
  --text-h8: 0.875rem;
  --text-h8--line-height: 1.25rem;
  --text-h9: 0.75rem;
  --text-h9--line-height: 1rem;

  /* Plus Jakarta Sans — subheading */
  --text-s1: 3.75rem;
  --text-s1--line-height: 3.75rem;
  --text-s2: 3rem;
  --text-s2--line-height: 3rem;
  --text-s3: 2.25rem;
  --text-s3--line-height: 2.5rem;
  --text-s4: 1.875rem;
  --text-s4--line-height: 2.25rem;
  --text-s5: 1.5rem;
  --text-s5--line-height: 2rem;
  --text-s6: 1.25rem;
  --text-s6--line-height: 1.75rem;
  --text-s7: 1rem;
  --text-s7--line-height: 1.5rem;
  --text-s8: 0.875rem;
  --text-s8--line-height: 1.25rem;
  --text-s9: 0.75rem;
  --text-s9--line-height: 1rem;
  --text-s10: 0.625rem;
  --text-s10--line-height: 0.75rem;

  /* Plus Jakarta Sans - Body*/
  --text-b1: 3.75rem;
  --text-b1--line-height: 3.75rem;
  --text-b2: 3rem;
  --text-b2--line-height: 3rem;
  --text-b3: 2.25rem;
  --text-b3--line-height: 2.5rem;
  --text-b4: 1.875rem;
  --text-b4--line-height: 2.25rem;
  --text-b5: 1.5rem;
  --text-b5--line-height: 2rem;
  --text-b6: 1.25rem;
  --text-b6--line-height: 1.75rem;
  --text-b7: 1rem;
  --text-b7--line-height: 1.5rem;
  --text-b8: 0.875rem;
  --text-b8--line-height: 1.25rem;
  --text-b9: 0.75rem;
  --text-b9--line-height: 1rem;
  --text-b10: 0.625rem;
  --text-b10--line-height: 0.75rem;

   /* Color - Primary */
  --color-secondary-50: #f8f7f4;
  --color-secondary-100: #efeee7;
  --color-secondary-200: #dedcce;
  --color-secondary-300: #c8c5ac;
  --color-secondary-400: #b1ad8b;
  --color-secondary-500: #9d976c;
  --color-secondary-600: #888259;
  --color-secondary-700: #6d6846;
  --color-secondary-800: #514d34;
  --color-secondary-900: #363423;
  --color-secondary-950: #222016;

  /* Color — Secondary */
  --color-primary-50: #faf4f5;
  --color-primary-100: #f5e6e6;
  --color-primary-200: #eac7c9;
  --color-primary-300: #dd9d9f;
  --color-primary-400: #ce5c61;
  --color-primary-500: #691d20;
  --color-primary-600: #551719;
  --color-primary-700: #421214;
  --color-primary-800: #320e0f;
  --color-primary-900: #230b0c;
  --color-primary-950: #170708;
}

@source not "./daisyui{,*}.mjs";
@source "../../../apps";
@source "../../../templates";

@plugin "./daisyui.mjs";

@plugin "./daisyui-theme.mjs" {
  name: "swapify";
  default: true;
  prefersdark: false;
  color-scheme: light;

  --radius-selector: 0.5rem;
  --radius-field: 0.5rem;
  --radius-box: 1rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;

  --color-primary: var(--color-primary-500);
  --color-secondary: var(--color-secondary-500);
}

.input:focus{
  outline: 1px solid #0000;
  border: 1px solid #0000;
  border-radius: 9999px;
}

button {
  border-radius: 9999px;
}

.ds-preview {
  @apply flex items-center justify-center rounded-box bg-base-200 p-6;
}

.ds-code {
  @apply overflow-x-auto rounded-box bg-neutral p-4 text-xs leading-6 text-neutral-content;
}
